.venv
.csv
.mat
.pth
.pt
__pycache__/
.ipynb_checkpoints/
dataset/
algorithm_design/
experiment_design/
plan.py
plan_research.pdf
tests/
data_processed/
segmentated_data/
phase1/submission/
phase1/review/
soh_estimation/paper